.container{
    background-color: white;
    padding: 1rem;
    max-height: 480px;
    /* overflow works as a scroller you can give y as a vertical and x is a horizontal */
    overflow-y: scroll;
    display: block;
}

.Time {
    /* rem is depends on the current screen width 1rem = 16px */
    font-size: 4rem; 
    font-weight: 600;
}
.Greeting{
    font-size: 2rem;
    font-weight: 400;
}
